global:
  scrape_interval: 15s
  evaluation_interval: 15s

rule_files:
  # - "first_rules.yml"
  # - "second_rules.yml"

scrape_configs:
  - job_name: 'velo-streams'
    static_configs:
      - targets: ['host.docker.internal:9091']  # Adjust port to match your Velostream metrics endpoint
    scrape_interval: 5s
    metrics_path: /metrics
    scheme: http

  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']